!!!5
html
  head
    title= title
    meta(name='viewport', content='width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0')
    link(rel='stylesheet', href='/theme/#{theme}/css/style.css')
    script
      nm={theme:'#{theme}'}
    script(data-main='/js/boot', src='/js/lib/require-2.1.4.js')
  body
    if theme == 'mobile'
      include ../public/theme/mobile/views/index
    else
      include ../public/theme/default/views/index
