div(data-role='page')
  #hdrProgress(data-role='header', data-nobackbtn='true')
    h1 Processing...
  #contentProgress(data-role='content')
    div(align='center')
      h4 Please wait.
  #ftrProgress(data-role='footer')
